node_modules
backend/dist
frontend/dist
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
database/*.db
database/*.db-shm
database/*.db-wal
.env
backend/.env
frontend/.env
uploads/models/*
uploads/garments/*
uploads/generated/*
!uploads/models/.gitkeep
!uploads/garments/.gitkeep
!uploads/generated/.gitkeep
